[QTH]
latitude = 49.0
longitude = 8.0
elevation = 400

[SATS]
sat_list =AO-07, AO-73, RS-44,FO-29,ISS,SO-50,XW-2A,AO-91,AO-27, PO-101,XW-2C,JO-97, FO-99,CAS-4B,CAS-4A

[UI]
qt_version = 5

[SDR]
# -1) disabled
# 0) rtl-tcp + nmux + csdr -> works good on highr powered machines
# 1) rtl_fm direct demodulation using rtl_fm fork -> better for older machines, worse rx I guess? to be tested
# 2) hybrid between both
demod_chain = -1
demod_freq_shift_pipe = sdr_rx_tune_pipe

[RIG_UPLINK]
enable_rig_uplink = 0
debug = 0
rig_model = 1041
rig_port = /dev/ttyUSB0
update_rate = 400
update_diff = 50

[RIG_DOWNLINK]
enable_rig_downlink = 0
debug = 0
rig_model = 1041
rig_port = /dev/ttyUSB1
update_rate = 400
update_diff = 50

[SAT_DATA]
tle_path = amsat-tle.txt
db_path = satnogs.json
