[QTH]
latitude = 49.0
longitude = 8.0
elevation = 400

[SATS]
sat_list =AO-07, AO-73, RS-44,FO-29,ISS,SO-50,XW-2A,AO-91,AO-27, PO-101,XW-2C,JO-97, FO-99,CAS-4B,CAS-4A

[UI]
qt_version = 5

[SDR]
# 0) rtl-tcp + nmux + csdr -> works good on highr powered machines
# 1) rtl_fm direct demodulation using rtl_fm fork -> better for older machines, worse rx I guess? to be tested
# 2) hybrid between both
demod_chain = 2
